.outlineJS { 
display: flex;
flex-wrap:wrap;
flex-direction: center;
gap: 20px;
 }

body {
	margin: 3em;
}

.block {
display:grid;
border: 1px solid black;
padding: 20px;
width: 400px;
box-shadow: 10px 5px 5px lightgrey;
border-radius: 10px;
transition: 0.3s;

}
.block9 {
display:grid;
border: 1px solid black;
padding: 35px;
box-shadow: 5px 5px 5px lightgrey;
border-radius: 10px;
transition: 0.3s;
}

.shadow {
	box-shadow: 10px 5px 5px lightgrey;
}

.block:hover, .block9:hover, h1:hover {
	  color: red;
  }

.btn {
  background-color: lightgrey;
  border: 1px solid black;  
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.5;
  transition: 0.3s;
  border-radius: 20px;
  


}
.btn:hover {opacity: 1}

.block {
  flex: 20%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .block {
    flex: 50%;
  }
}
.button {
  display: grid;
  align-items: end;
}



 




